<div class="row">
    <h3>Edicion</h3>
    <div class="col" *ngFor="let item of fireServ.articulos, index as index">
        <div class="columna">
            <img [src]='img_articulo+item.imagen' alt="1">
            <input [(ngModel)]="item.nombre" placeholder="Ingrese nombre">
            <input [(ngModel)]="item.descripcion" placeholder="Ingrese descripcion">
            <input [(ngModel)]="item.precio" placeholder="Ingrese precio">
            <button class="btnSucces" (click)="fireServ.actualizarDatos(item)">
                Guardar cambios
            </button>
            <button class="btnSucces" (click)="fireServ.eliminarDatos(item)">
                Eliminar
            </button>
        </div>
    </div>
</div>