.row{
    display: flex;
    justify-content: center;
    margin: 0;
    height: 100%;
    /* background-color: white; */
    border-radius: 3px;
    width: auto;
    background-color: aqua;
}

.columna{
    width: 30%;
}

.col-sm-6, .col-md-4, .col-lg-4, .col-xl-4{
    background-color: blueviolet;
    border: 1px solid black;
    width: 200px;
}

img{
    width: 70px;
    height: 70px;
}