.contenedor{
    margin-top: 30px;
}

.row{
    margin: 10px 0px 10px 0px;
    border-radius: 3px;
    justify-content: center;
    text-align: center;
}

.col{
    display: flex;
    justify-content: center;
    max-width: 350px;
    min-width: 350px;
    margin: 3px;
    padding: 10px;
    border: 1px solid rgb(119, 119, 119);
}

.columna{
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

img{
    /* min-width: 300px; */
    min-height: 300px;
    /* max-width: 300px; */
    max-height: 300px;
    object-fit: cover;
}


input{
    border: 1px solid rgb(88, 88, 88);
    margin: 3px 0px 0px 0px;
}

button{
    margin-top: 3px;
}

@media (min-width: 100px) and (max-width: 700px) {
    .row{
        justify-content: center;
    }

    .col{
        border: 1px solid rgb(158, 158, 158);
        min-width: 140px;
        margin: 5px;
    }

    .columna{
        text-align: center;
        align-self: center;
        width: 140px;
        margin: 10px;
    }

     img{
        min-height: 140px;
        max-height: 140px;
    }

    p{
        margin: 0;
    }
    
}