<div class="contenedor">
    <p>Aun no hay datos</p>
    <div class="row" *ngIf="articulosGuardados == ''">
        <p>Volver a <b (click)="volver()">inicio</b></p>
    </div>
    <div class="row" *ngIf="articulosGuardados != ''">
        <div class="col" *ngFor="let item of articulosGuardados, index as index">
            <div class="columna">
                <img [src]='img_articulo+item.imagen' alt="1">
                <p>{{item.nombre}}</p>
                <p>{{item.descripcion}}</p>
                <p>{{item.precio}}</p>
                <button (click)="eliminar(index)">eliminar</button>
            </div>
        </div>
        <button (click)="confirmarCompra()">Confirmar compra</button>
        <button (click)="volver()">Seguir viendo</button>
    </div>
</div>