.contenedor{
    margin-top: 30px;
}

.row{
    margin: 10px 0px 10px 0px;
    border-radius: 3px;
    justify-content: center;
    text-align: center;
}

.col{
    display: flex;
    justify-content: center;
    max-width: 250px;
    margin: 3px;
}

img{
    /* width: 300px; */
    max-height: 300px;
}

input{
    border: 1px solid rgb(88, 88, 88);
    margin: 3px 0px 0px 0px;
}

button{
    margin-top: 3px;
}

@media (min-width: 100px) and (max-width: 700px) {
    .row{
        justify-content: center;
    }

    .col{
        border: 1px solid rgb(158, 158, 158);
        width: 140px;
        margin: 5px;
    }

    .columna{
        text-align: center;
        align-self: center;
        width: 140px;
        margin: 10px;
    }

    img{
        max-width: 140px;
        max-height: 140px;
    }

    p{
        margin: 0;
    }
    
}